.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
*.iml
*.ipr
*.iws
text-output
Scratch.java
ScratchTest.java
text-results
text-tmp
*.class
mods
vertx_classpath.txt
*.log
lib
META-INF
